<h1>Prediktívny algoritmus - Neurónová sieť </h1>
<p class="center">Zvoľte dátum pre trénovanie:</p>
<%= form_tag :action=>"neuronova_siet" do %>
<p class="center">
<table><tr><td>
Dátum: </td>
<td> <%= select_tag(:datum, options_from_collection_for_select(RealValue.where(:osvit=>20...1000), :id, :cas)) %>
</td></tr><tr><td>
Počet neurónov v skrytej vrstve: <%= number_field_tag :pocet_neuronov, 5, :size=>4  %>
</td></tr>
</table><br/>
<%= submit_tag "Simuluj predikciu" %>
</p><br/>
<% end %>


<% if @trenovanie1 %>
Dátum: <%= @start.cas.strftime("%d.%m.%y, %H:%M") %><br/>

	<%= @trenovanie %><br/>
	vstup<%= @vstup %><br/>
	vystup<%= @vystup %><br/>
	vahy v:<%= @vahy_v %><br/>
	vahy w:<%= @vahy_w %><br/>
	vstup hidden:<%= @vstup_hidden %><br/>
	vystup hidden:<%= @vystup_hidden %><br/>
	vstup final:<%= @vstup_final %><br/>
	vystup final:<%= @vystup_final %><br/>
	error:<%= @error %><br/>
	d:<%= @d %><br/>
	y:<%= @y %><br/>
	delta_w1:<%= @delta_w1 %><br/>
	e:<%= @e %><br/>
	d2:<%= @d2 %><br/>
	x:<%= @x %><br/>
	delta_v1:<%= @delta_v1 %><br/>
	vahy vn:<%= @vahy_vn %><br/>
	vahy wn:<%= @vahy_wn %><br/>
	Dĺžka trénovania:<%= @dlzka %><br/>

<%= image_tag('neuro_learning.jpg') %>	<br/>
<%= image_tag('neuro_prediction.jpg') %>	<br/>

<% end %>
