<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sk" lang="sk">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>UNIZA - Predikčný algoritmus solárneho zariadenia - Doplomová práca</title>
  <%= stylesheet_link_tag  "predikcia" %>
  <%= javascript_include_tag :all%>

  <%= csrf_meta_tag %>
</head>
<body>
	<div id="main">
				
		<div id="content">
		          <p style="color: green"><%= flash[:notice] %></p>
                  <p style="color: red"><%= flash[:alert] %></p>
		

			<%= yield %>
		</div>
		
	<div id="right_menu">
		<%= link_to "Home", :root %>
<p class="center"> Tu bude ľavé menu </p>
		</div>
		
		<div class="clr"></div>
		<div id="footer">hlavička</div>
	</div>
</body>
</html>
